ipaddress
#networkx  # we use a specific version with personal modifications; see my fork
argparse
requests
numpy

# NOTE: you'll also need the requirements from scale_client if you plan to use the Mininet-based experiments that run SCALE client processes!

# we use a symlink to the mininet repo rather than installing it so that we can carefully control the version
# mininet==2.2.2rc1

# Must not be downloaded form pypi?
#json
