ipaddress
#networkx  # we use a specific version with personal modifications; see my fork and notes in README.md
#coapthon  # we use a specific version with personal modifications; see my fork and notes in README.md
argparse
requests

# additional requirements for statistics.py
# parse
# pandas
# numpy
# parse

# NOTE: you'll also need the requirements from scale_client if you plan to use the Mininet-based experiments that run SCALE client processes!

# we use a symlink to the mininet repo rather than installing it so that we can carefully control the version
# mininet==2.2.2rc1
